body {
    margin: 0;
    background-color: #1B1C2A;
    position: relative;
}
#facades {
    transform: scale(1.5) translate(-50%,-50%);
    transform-origin: 0 0;
    position: absolute;
    left: 50%;
    top: 50%;
}
#facades canvas {
    margin: 0 !important;
}
